In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (9.0.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
#importing libraries
import pandas as pd
import numpy as np
import mysql.connector

In [3]:
#reading the csv file:
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_5.csv")
df_buses_6=pd.read_csv("df_buses_6.csv")
df_buses_7=pd.read_csv("df_buses_7.csv")
df_buses_8=pd.read_csv("df_buses_8.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

In [4]:
final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)

In [5]:
final_df

,Bus_name,Bus_type,Start_time,End_time,Time_Duration,Rating,Prices,Seat_Availability,Route_name,Route_link,Links
0,MMK Travels,VE A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,4.4\n468,INR 700,13 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN
1,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,4.2\n330,INR 599,26 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN
2,NS Transports,VE A/C Sleeper (2+1),22:45,07:30,08h 45m,4.1\n294,INR 1000,2 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN
3,AdSAAM BUS,Bharat Benz A/C Sleeper (2+1),20:10,06:45,10h 35m,4.1\n97,785,3 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN
4,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,06:10,08h 25m,4.1\n288,INR 699,9 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1487,Jain travels regd,AC Sleeper (2+1),15:15,20:00,04h 45m,3.3\n28,INR 500,NaN,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,https://www.redbus.in/bus-tickets/jammu-to-amr...
1488,AdBhawani Travels,Bharat Benz A/C Seater (2+2),18:30,23:15,04h 45m,3.8\n135,INR 299,NaN,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,https://www.redbus.in/bus-tickets/jammu-to-amr...
1489,Bhawani Travels,Bharat Benz A/C Seater (2+2),16:30,21:05,04h 35m,3.3\n176,INR 299,NaN,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,https://www.redbus.in/bus-tickets/jammu-to-amr...
1490,Jamna Travels-Jammu,A/C Seater / Sleeper (2+2),22:30,03:45,05h 15m,3.4\n34,369,NaN,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...,https://www.redbus.in/bus-tickets/jammu-to-amr...
1491,Vijay Tour and Travels,AC Sleeper (2+1),15:00,08:50,17h 50m,3.2\n14,1480,25 Seats available,Ajmer to Jammu (j and k),https://www.redbus.in/bus-tickets/ajmer-to-jammu,https://www.redbus.in/bus-tickets/ajmer-to-jammu

In [6]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Bus_name           1465 non-null   object
 1   Bus_type           1459 non-null   object
 2   Start_time         1465 non-null   object
 3   End_time           1465 non-null   object
 4   Time_Duration      1465 non-null   object
 5   Rating             1464 non-null   object
 6   Prices             1461 non-null   object
 7   Seat_Availability  1028 non-null   object
 8   Route_name         1492 non-null   object
 9   Route_link         1492 non-null   object
 10  Links              942 non-null    object
dtypes: object(11)
memory usage: 128.3+ KB

In [7]:
final_df=final_df.drop(["Links"],axis=1)

In [8]:
#converting prices to numeric:

final_df["Prices"] = final_df["Prices"].astype(str)
final_df["Prices"]=final_df["Prices"].str.replace("INR","")
final_df["Prices"] = pd.to_numeric(final_df["Prices"], errors='coerce')
final_df["Prices"].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_13592\532182766.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df["Prices"].fillna(0, inplace=True)

In [9]:
#converting ratings into numeric
final_df["Rating"]=final_df["Rating"].str.replace("New","")
final_df["Rating"]=final_df["Rating"].str.strip()
final_df["Rating"]=final_df["Rating"].str.split().str[0]
final_df["Rating"]=pd.to_numeric(final_df["Rating"],errors='coerce')
final_df["Rating"].fillna(0,inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_13592\453465963.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df["Rating"].fillna(0,inplace=True)

In [13]:
final_df["Seat_Availability"].fillna("NA")

0       13 Seats available
1       26 Seats available
2        2 Seats available
3        3 Seats available
4        9 Seats available
               ...
1487                    NA
1488                    NA
1489                    NA
1490                    NA
1491    25 Seats available
Name: Seat_Availability, Length: 1492, dtype: object

In [14]:
#replacing all nan values
final_df=final_df.replace({np.nan:None})

In [16]:
#changing dataframe to csv
final_df.to_csv("Final_DataValues.csv")
print("saved")

saved

In [36]:
# Check for null values in SEAT_AVAILABILITY
print(final_df[final_df['Seat_Availability'].isnull()])

                              Bus_name  \
24                        Galaxy Tours
82                         Sam Tourist
83    Kallada Travels (Suresh Kallada)
84                          A1 Travels
163              KSRTC (Kerala) - 1314
...                                ...
1486               Jamna Travels-Jammu
1487                 Jain travels regd
1488                 AdBhawani Travels
1489                   Bhawani Travels
1490               Jamna Travels-Jammu

                                      Bus_type Start_time End_time  \
24     2+1 Air Suspension A/C Seater / Sleeper      21:45    02:00
82                 NON AC Seater / Sleeper 2+1      00:45    07:05
83                           A/C Sleeper (2+1)      17:50    23:16
84               Bharat Benz A/C Sleeper (2+1)      18:15    23:30
163   Super Deluxe Non AC Seater Air Bus (2+2)      21:15    23:00
...                                        ...        ...      ...
1486                A/C Seater Push Back (2+2)      14:30    18:22
1487                          AC Sleeper (2+1)      15:15    20:00
1488              Bharat Benz A/C Seater (2+2)      18:30    23:15
1489              Bharat Benz A/C Seater (2+2)      16:30    21:05
1490                A/C Seater / Sleeper (2+2)      22:30    03:45

     Time_Duration  Rating  Prices Seat_Availability  \
24         04h 15m     2.9   700.0              None
82         06h 20m     4.0   599.0              None
83         05h 26m     2.5   600.0              None
84         05h 15m     2.8   400.0              None
163        01h 45m     4.1   894.0              None
...            ...     ...     ...               ...
1486       03h 52m     3.4   315.0              None
1487       04h 45m     3.3   500.0              None
1488       04h 45m     3.8   299.0              None
1489       04h 35m     3.3   299.0              None
1490       05h 15m     3.4   369.0              None

                          Route_name  \
24            Kozhikode to Ernakulam
82               Mysore to Kozhikode
83               Mysore to Kozhikode
84               Mysore to Kozhikode
163   Kozhikode to Kalpetta (kerala)
...                              ...
1486     Jammu (j and k) to Amritsar
1487     Jammu (j and k) to Amritsar
1488     Jammu (j and k) to Amritsar
1489     Jammu (j and k) to Amritsar
1490     Jammu (j and k) to Amritsar

                                             Route_link
24    https://www.redbus.in/bus-tickets/kozhikode-to...
82    https://www.redbus.in/bus-tickets/mysore-to-ko...
83    https://www.redbus.in/bus-tickets/mysore-to-ko...
84    https://www.redbus.in/bus-tickets/mysore-to-ko...
163   https://www.redbus.in/bus-tickets/kozhikode-to...
...                                                 ...
1486  https://www.redbus.in/bus-tickets/jammu-to-amr...
1487  https://www.redbus.in/bus-tickets/jammu-to-amr...
1488  https://www.redbus.in/bus-tickets/jammu-to-amr...
1489  https://www.redbus.in/bus-tickets/jammu-to-amr...
1490  https://www.redbus.in/bus-tickets/jammu-to-amr...

[464 rows x 10 columns]

In [10]:
final_dropped_df=final_df.dropna()

In [11]:
final_dropped_df

,Bus_name,Bus_type,Start_time,End_time,Time_Duration,Rating,Prices,Seat_Availability,Route_name,Route_link
0,MMK Travels,VE A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,4.4,700.0,13 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,09:00,10h 00m,4.2,599.0,26 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,NS Transports,VE A/C Sleeper (2+1),22:45,07:30,08h 45m,4.1,1000.0,2 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,AdSAAM BUS,Bharat Benz A/C Sleeper (2+1),20:10,06:45,10h 35m,4.1,785.0,3 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,06:10,08h 25m,4.1,699.0,9 Seats available,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
1477,Laxmi holidays,Bharat Benz A/C Sleeper (2+1),23:30,07:00,07h 30m,4.4,616.0,27 Seats available,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...
1478,AdRadhe Travels,Bharat Benz A/C Sleeper (2+1),21:20,04:45,07h 25m,3.8,493.0,37 Seats available,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...
1479,Laxmi holidays,Bharat Benz A/C Seater /Sleeper (2+1),22:50,06:00,07h 10m,4.4,570.0,23 Seats available,Chandigarh to Jammu (j and k),https://www.redbus.in/bus-tickets/chandigarh-t...
1481,Jaspal Travels,AC Seater (2+2),12:20,17:00,04h 40m,4.2,350.0,27 Seats available,Jammu (j and k) to Amritsar,https://www.redbus.in/bus-tickets/jammu-to-amr...
1491,Vijay Tour and Travels,AC Sleeper (2+1),15:00,08:50,17h 50m,3.2,1480.0,25 Seats available,Ajmer to Jammu (j and k),https://www.redbus.in/bus-tickets/ajmer-to-jammu

In [37]:
final_df['Seat_Availability'].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_17784\4183644364.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Seat_Availability'].fillna(0, inplace=True)

In [35]:
print(final_df.columns)

Index(['Bus_name', 'Bus_type', 'Start_time', 'End_time', 'Time_Duration',
       'Rating', 'Prices', 'Seat_Availability', 'Route_name', 'Route_link'],
      dtype='object')

In [39]:
#final_df['Bus_name'].fillna("unknown", inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_17784\792154681.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Bus_name'].fillna("unknown", inplace=True)

In [41]:
#final_df['Bus_type'].fillna("unknown", inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_17784\2756061367.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Bus_type'].fillna("unknown", inplace=True)

In [42]:
#final_df['Start_time'].fillna("unknown", inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_17784\1181131407.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Start_time'].fillna("unknown", inplace=True)

In [43]:
#final_df['End_time'].fillna("unknown", inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_17784\1945352957.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['End_time'].fillna("unknown", inplace=True)

In [44]:
#final_df['Time_Duration'].fillna("unknown", inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_17784\2782976055.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['Time_Duration'].fillna("unknown", inplace=True)

#CREATEING MYSQL CONNECTION

In [12]:
conn=mysql.connector.connect(host="localhost",user="root",password="Jsi@112214",database="REDBUS_DETAILS")
my_cursor=conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS REDBUS_DETAILS")

In [13]:
#TABLE CREATIONS:
my_cursor.execute('''CREATE TABLE IF NOT EXISTS BUS_DETAILS(ID INT AUTO_INCREMENT PRIMARY KEY,
                    Bus_name VARCHAR(300) NOT NULL,
                    BUS_TYPE VARCHAR(300) NOT NULL,
                    START_TIME VARCHAR(300) NOT NULL,
                    END_TIME VARCHAR(200) NOT NULL,
                    TIME_DURATION VARCHAR(300) NOT NULL,
                    RATING FLOAT NULL,
                    PRICES FLOAT NULL,
                    SEAT_AVAILABILITY VARCHAR(300) NOT NULL,
                    ROUTE_NAME VARCHAR(300) NOT NULL,
                    ROUTE_LINK VARCHAR(300) NOT NULL)''')
print("table created")

table created

In [14]:
#insert values into bus details:
insert_query = '''INSERT INTO BUS_DETAILS(Bus_name,BUS_TYPE,START_TIME,END_TIME,TIME_DURATION,RATING,PRICES,SEAT_AVAILABILITY,ROUTE_NAME,ROUTE_LINK)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data = [tuple(x) for x in final_dropped_df.values]
my_cursor.executemany(insert_query,data)
conn.commit()
print("values inserted ")

values inserted